<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MediFo | About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style-dashboard.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-white">
    <!-- Sidebar -->
    <div class="sidebar">
        <a title="MediFo" alt="MediFo Logo" href="./index.html">
            <img src="img/logo.png" id="nav-logo"/>
        </a>
        <div class="sidebar-header">
            <div class="user-pic">
              <img src="img/avatar.png" >
            </div>
            <div class="user-info">
              <span class="user-name">Username</span>
              <span class="user-role">User</span>
              <span class="user-status">
                <i class="fa fa-circle" style="color: #5cb85c;"></i>
                <span>Online</span>
              </span>
            </div>
        </div>
        <a href="#">
            <div>
                <i class="fa fa-home"></i>
                <span>Home</span>
            </div>
        </a>
        <a  href="#">
            <div>
                <i class="fa fa-user-circle"></i>
                <span>Profile</span>
            </div>
        </a>
        <a href="#">
            <div>
                <i class="fa fa-comment-alt" ></i>
                <span>Forum</span>
            </div>
        </a>
        <a class="active" href="#">
            <div>
                <i class="far fa-comment-alt" style="color: white;" ></i>
                <span>Aktivitas Forum Saya</span>
            </div>
        </a>
        <a href="#">
            <div>
                <i class="fa fa-briefcase-medical"></i>
                <span>Cari Dokter</span>
            </div>
        </a>
        <a href="#">
            <div>
                <i class="fa fa-medkit"></i>
                <span>Cari Obat</span>
            </div>
        </a>
        <a href="#">
            <div>
                <i class="fa fa-book-reader"></i>
                <span>Blog</span>
            </div>
        </a>
    </div>      
    <!-- End Sidebar -->

    <!-- Dasboard Content -->
    <div class="content">
        
    </div>
    <!-- End Dashboard Content -->

    <!-- Footer -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <p>Sistem Informasi yang selalu memberikan kemudahan,<br /> Selalu ada dan terpercaya.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-nav">
                            <h6>Navigasi</h6>
                            <a class="ft-link" href="about.html">Tentang Kami</a><br>
                            <a class="ft-link" href="blog.html">Informasi Kesehatan</a><br>
                            <a class="ft-link" href="search-dokter.html">Cari Dokter</a><br>
                            <a class="ft-link" href="index.html">Cari Obat</a><br>
                            <a class="ft-link" href="contact.html">Kontak Kami</a>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-any">
                            <h6>Lainnya</h6>
                            <a class="ft-link" href="#">Syarat & Ketentuan</a><br>
                            <a class="ft-link" href="#">Privasi</a><br>
                            <a class="ft-link" href="register-dokter.html">Gabung Tim Dokter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Actionbar Animation.js -->
    <!-- <script src="js/index-all.js"></script> -->
</body>