.blog-container .blog-item {
	height: 450px;
	position: relative;
	margin-bottom: 30px;
	border-radius: 5px;
}

.blog-container .set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.blog-container .card-content{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 80%;
	background-image: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgba(0, 0, 0, 0) 100%);
}

.blog-container .card-content h4 a{
	font-weight: 700;
	color: white;
	padding-bottom: 10px;
}

.blog-container .card-content .card-time{
	color: white;
	padding-bottom: 10px;
}

.blog-container .card-content .card-tag{
	background-color: white;
	border-radius: 50px;
}

.blog-container .card-content span{
	padding: 2px 12px !important;

}

.blog-detail-content img {
	padding-bottom: 50px;
}

.blog-detail-content .blog-detail-info{
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
}

.card-tag{
	background-color: white;
	border-radius: 50px;
	padding: 2px 12px !important;
	padding-bottom: 15px;
}