.sidebar-header{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
.sidebar-header .user-pic {
float: left;
width: 60px;
border-radius: 50px;
margin-right: 15px;
overflow: hidden;
}

.sidebar-header .user-pic img {
object-fit: cover;
height: 100%;
width: 100%;
}

.sidebar-header .user-info > span {
display: block;
}

.sidebar-header .user-info .user-role {
font-size: 12px;
}

.sidebar-header .user-info .user-status {
font-size: 11px;
margin-top: 4px;
}

.sidebar-header .user-info .user-status i {
font-size: 8px;
margin-right: 4px;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
   
.sidebar a.active {
    background-color: #1c73eb;
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
div.content {
    background-color: #f1f1f1;
    margin-left: 200px;
    padding: 1px 66px;
    height: 1000px;
}
  
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

.welcome-card {
    background-color: white;
    border-radius: 10px;
    padding: 0;
    border: none;
    background-image: linear-gradient(90deg, rgb(19, 93, 255) 100%, rgba(30, 135, 255, 0) 100%);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.11);
}

.welcome-card-content {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dashboard-card {
    background-color: white;
    border-radius: 10px;
    padding: 0;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.11);
}

.dashboard-card_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dashboard-duo {
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.dashboard-duo .dashboard-first {
    width: 390px;
}

.dashboard-duo .dashboard-second {
    width: 300px;
}

.dashboard-card-content{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}